In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/drive/MyDrive/LAB/Titanic-Dataset.csv')

In [3]:
# Check for null values (1 line)

null_value = df.isnull().sum()
print(null_value)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
null_value = df.isnull().sum()
print(null_value,'\n')
# Fill null values for 'Embarked' with the mode(1 line)

from sklearn.impute import SimpleImputer

my_imputer = SimpleImputer(missing_values=np.nan ,strategy='most_frequent')

df[['Embarked']] = pd.DataFrame(my_imputer.fit_transform(df[['Embarked']]))


null_value = df.isnull().sum()
print(null_value)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [5]:
# Drop rows with null values in 'Cabin' (or alternatively, you can fill it with a placeholder) (1 line)
df.dropna(subset=['Cabin'], inplace = True)
print(df.isnull().sum())
print(df.Cabin)

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age            19
SibSp           0
Parch           0
Ticket          0
Fare            0
Cabin           0
Embarked        0
dtype: int64
1              C85
3             C123
6              E46
10              G6
11            C103
          ...
871            D35
872    B51 B53 B55
879            C50
887            B42
889           C148
Name: Cabin, Length: 204, dtype: object

In [6]:
# Check for duplicates (1 line)

df.duplicated().sum()
# Drop duplicates if any (1 line)

0

In [7]:

# Function to remove outliers using the IQR method
print(df.Fare)
def remove_outliers(df, column):
  Q1 = df[column].quantile(0.25)
  Q3 = df[column].quantile(0.75)
  IQR = Q3 - Q1
  lower_bound = Q1 - 1.5 * IQR
  upper_bound = Q1 + 1.5 * IQR
  return df[(df[column] >= lower_bound) & (df[column] <= upper_bound) ]

  # Remove outliers from 'Fare' using the remove_outilers function (1 line)

remove_outliers(df, 'Fare')

print(df.Fare)

1      71.2833
3      53.1000
6      51.8625
10     16.7000
11     26.5500
        ...
871    52.5542
872     5.0000
879    83.1583
887    30.0000
889    30.0000
Name: Fare, Length: 204, dtype: float64
1      71.2833
3      53.1000
6      51.8625
10     16.7000
11     26.5500
        ...
871    52.5542
872     5.0000
879    83.1583
887    30.0000
889    30.0000
Name: Fare, Length: 204, dtype: float64

In [8]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Standard scaling for 'Fare' (2 lines)

scaler = StandardScaler()
standardized_fare = pd.DataFrame(scaler.fit_transform(df[['Fare']]), columns=['Fare'])

print(standardized_fare,'\n')
# Min-Max scaling for 'Age' (2 lines)
scaler = MinMaxScaler()
MinMax_Age = pd.DataFrame(scaler.fit_transform(df[['Age']]), columns=['Age'])
print(MinMax_Age)

         Fare
0   -0.065466
1   -0.310494
2   -0.327170
3   -0.800999
4   -0.668266
..        ...
199 -0.317849
200 -0.958662
201  0.094554
202 -0.621776
203 -0.621776

[204 rows x 1 columns]

          Age
0    0.468892
1    0.430956
2    0.671219
3    0.038948
4    0.721801
..        ...
199  0.582701
200  0.405665
201  0.696510
202  0.228629
203  0.317147

[204 rows x 1 columns]

In [9]:
# One-hot encoding for 'Embarked' and 'Sex' (1 line)

one_hot_encoding = pd.get_dummies(df, columns= ['Embarked','Sex'])
print(one_hot_encoding)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name   Age  SibSp  Parch  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
6                              McCarthy, Mr. Timothy J  54.0      0      0
10                     Sandstrom, Miss. Marguerite Rut   4.0      1      1
11                            Bonnell, Miss. Elizabeth  58.0      0      0
..                                                 ...   ...    ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  47.0      1      1
872                           Carlsson, Mr. Frans Olof  33.0      0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0      0      1
887                       Graham, Miss. Margaret Edith  19.0      0      0
889                              Behr, Mr. Karl Howell  26.0      0      0

       Ticket     Fare        Cabin  Embarked_C  Embarked_Q  Embarked_S  \
1    PC 17599  71.2833          C85        True       False       False
3      113803  53.1000         C123       False       False        True
6       17463  51.8625          E46       False       False        True
10    PP 9549  16.7000           G6       False       False        True
11     113783  26.5500         C103       False       False        True
..        ...      ...          ...         ...         ...         ...
871     11751  52.5542          D35       False       False        True
872       695   5.0000  B51 B53 B55       False       False        True
879     11767  83.1583          C50        True       False       False
887    112053  30.0000          B42       False       False        True
889    111369  30.0000         C148        True       False       False

     Sex_female  Sex_male
1          True     False
3          True     False
6         False      True
10         True     False
11         True     False
..          ...       ...
871        True     False
872       False      True
879        True     False
887        True     False
889       False      True

[204 rows x 15 columns]